<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>

</head>
<body>
  <%= htmlWebpackPlugin.options.header %>

  <!-- all your standard template here -->
  <h1>模板</h1>
  <div class="root"></div>
  <div class="food"></div>
  <div class="icon"></div>

  <div class="info">MyName</div>
  <div class="alert"></div>
  <div class="success"></div>

  <div class="box"></div>
  <a id="link" href="#">link</a>
  <!-- all your standard template here -->

  <%= htmlWebpackPlugin.options.footer %>
</body>
</html>
